doctype html
HEAD
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title
    
    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='images/style.css')
    script(language='JavaScript')

    style(type='text/css').
          body{
          background-image: url('images/tian.jpg');
          line-height: 1.5;
          margin: 0;
          padding: 0;
          font-family: Helvetica, "Lucida Sans", Arial, sans-serif;
          word-wrap: break-word;
          overflow-x: hidden;
          text-align: justify;
     
  body
    article
      section
          h1 Global Warming dan Pengaruhnya
            ul
              li
              h3 Designed by : CHRIPS
           
      section
            h2 Apa itu Global Warming?
              h3
                ul
                  li
                  li Pemanasan Global (Global Warming) adalah peristiwa meningkatnya suhu rata-rata pada lapisan atmosfer dan permukaan bumi dan akan membuat suhu bumi akan bertambah panas. Pemanasan global telah mengganggu jutaan mahluk hidup di bumi karena pola cuaca menjadi kacau balau dan banyak habitat yang musnah.

      section
         h2 Penyebab Global warming
       
        section
            h3 1. Efek Rumah Kaca
                h3 
                    ul
                        li
                        li Efek rumah kaca adalah proses atmosfer menghangatkan planet. Efek rumah kaca terjadi akibat panas yang dipantulkan ke permukaan bumi terperangkap oleh gas-gas di atmosfer, sehingga tidak dapat diteruskan ke luar angkasa, melainkan dipantulkan kembali ke permukaan Bumi.

        section
            h3 2. Meningkatnya Gas Rumah Kaca
                h3
                    ul
                      li
                      li Gas-gas memiliki sifat yang memerangkap panas, sehingga panas yang terpantul dari permukaan bumi tidak dapat diteruskan ke cahaya akibat  dari gas tersebut, gas-gas tersebut adalah gas rumah kaca. Gas yang paling berperan adalah karbon dioksida (CO2). 
      section
            h3 3. Penggunaan CFC yang Tidak Terkontrol 
                h3
                  ul
                    li
                    li CFC atau Cloro Flour Carbon adalah bahan kimia yang digabungkan menjadi sebuah bahan untuk memproduksi peralatan,
                       terkhusus pada peralatan rumah tangga. CFC terdapat pada kulkas dan AC. 
       section
            h3 4. Polusi Kendaraan Bahan Bakar Bensin
                h3
                  ul
                    li
                    li Gas-gas memiliki sifat yang merangkap panas, sehingga mengakibatkan panas yang terpantul tidak dapat di teruskan ke cahaya.
                    ul
                      li contohnya Kendaraan berbahan bakar bensin memberikan penyebab terbesar dalam terjadinya pemanasan global. karena menghasilkan gas karbon dioksida yang berlebihan.
      section
            h3 5. Pengerusakan Hutan
                h3
                  ul
                    li
                    li Hutan berfungsi dalam menyerap karbon dioksida dan mengeluarkan oksigen, jika hutan rusak akibat dari penebangan dan pembakaran, 
                       maka yang terjadi adalah jumlah karbon dioksida yang diserap oleh hutan sedikit, dan semakin banyak karbon yang berkumpul di atmosfer yang menyebabkan 
                       terjadinya pemanasan global. 

      section
            h3 6. Pemboroson Energi Listrik 
                h3
                  ul
                    li
                    li Energi listrik sebagian besar kita gunakan adalah hasil pembakaran dari pembakaran minyak bumi dan batu bara, dimana hasil 
                       pembakaran tersebut menghasilkan karbon dioksida 
      section
            h3 7.Populasi Kendaraan yang Terus Meningkat
                h3
                  ul
                    li
                    li Meningkatnya jumlah kendaraan maka karbon dioksida pun yang dihasilkan dari kendaraan tersebut akan bertambah 
                       banyak dan tentu saja menimbulkan pemanasan global. 

      section 
            h3 8. Pembakaran Sampah Secara Berlebihan
                h3
                  ul
                    li
                    li Pembakaran sampah berlebihan yang dilakukan secara massal akan menyebabkan terjadinya pemanasan global karena dari hasil 
                       pembakaran sampah tersebut adalah gas metana, yang dapat memerangkap panas.
      
       section
            h2 Dampak Pemanasan Global (Global Warming)
                h3
                  ul
                    li
                    li Gunung es mencair, curah hujan menigkat dan sering terjadi badai, air dan tanah cepat menguap, populasi hewan dan tumbuhan akan berkurang.
                   


        section
              h2 Upaya Menanggulangi Pemanasan Global 
              h2 (Global Warming)
                  h3
        
        section
               h3 1. Mengubah Perilaku Pribadi
                  h3
                    ul
                      li
                      li Diantaranya :
                      li a) Hemat Listrik  
                      li b) Menanam Pohon 
                      li c) Mengurangi Penggunaan Kendaraan berbahan bakar minyak  

          section
                  h3 2. Langkah Mencegah Pemanasan Global Secara Kolektif
                    h3
                      ul
                        li
                        li a) Mulai beralih menggunakan Energi Alternatif 
                        li b) Melestarikan Hutan 
                        li c) Menghapus atau mengurangi Penggunaan CFC (Chlorofluorocarbon)
                        li d) Memperbaiki Kualitas Kendaraan dengan Uji Emisi       
                        li e) Membuang Sampah Pada Tempatnya


          section
                  h3 3. Langkah Mengurangi Karbon Dioksida
                    h3
                      ul
                        li
                        li a) Menanam dan memelihara tumbuhan dalam jumlah yang banyak

                        li b) Mengganti penggunaan bahan bakar fosil dengan bahan bakar alternatif. Misalnya air, angin, panas Bumi dan sinar matahari

          section
                  h3 4. Menggunakan Metode Transportasi yang Ramah Lingkungan
                      ul
                        li
                        li a) Gunakan transportasi umum.

                        li b) Bersepeda.

                        li c) Gunakan kendaraan Anda sebagai alat untuk melawan pemanasan global.

          section
                  h3 5. penghijauan
                      ul
                        li
                        li Penghijauan pertamanan adalah usaha penataan lingkungan dengan mempergunakan tanaman sebagai materi pokoknya.

          section
                  h3 Pengaruh Global Warming Bagi Kesehatan Manusia
                  h3
                      ul
                        li
                        li a. Penyakit infeksi
                        li b. Penyakit saluran pernapasan
                        li c. Penyebaran penyakit DBD dan malaria
                        li d. Penyakit akibat penipisan lapisan Ozone
                        li e.Penyakit yang berhubungan dengan panas
          section
                  h2 Pertanyaan?
          section
                  h3 Mari Menjaga & Melestarikan Alam 
                    ul
                      li
                      li TERIMAKASIH..

    script(src='build/build.js')