doctype html
HEAD
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title
    
    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='images/style.css')
    script(language='JavaScript')

    style(type='text/css').
    
     
  body
    article
      section
          h1 Global Warming dan Pengaruhnya
           
      section
            h2 Apa itu Global Warming?
              h3
                ul
                  li
                  li Pemanasan Global (Global Warming) adalah peristiwa meningkatnya suhu rata-rata pada lapisan atmosfer dan permukaan bumi dan akan membuat suhu bumi akan bertambah panas. Pemanasan global telah mengganggu jutaan mahluk hidup di bumi karena pola cuaca menjadi kacau balau dan banyak habitat yang musnah.

      section
         h2 Penyebab Global warming
       
        section
            h3 1. Efek Rumah Kaca
                h3 
                    ul
                        li
                        li Efek rumah kaca adalah proses atmosfer menghangatkan planet. Efek rumah kaca terjadi akibat panas yang dipantulkan ke permukaan bumi terperangkap oleh gas-gas di atmosfer, sehingga tidak dapat diteruskan ke luar angkasa, melainkan dipantulkan kembali ke permukaan Bumi.

        section
            h3 2. Meningkatnya Gas Rumah Kaca
                h3
                    ul
                      li
                      li Gas-gas memiliki sifat yang memerangkap panas, sehingga panas yang terpantul dari permukaan bumi tidak dapat diteruskan ke cahaya akibat  dari gas tersebut, gas-gas tersebut adalah gas rumah kaca. Gas yang paling berperan adalah karbon dioksida (CO2). 
      section
            h3 3. Penggunaan CFC yang Tidak Terkontrol 
                h3
                  ul
                    li
                    li CFC atau Cloro Flour Carbon adalah bahan kimia yang digabungkan menjadi sebuah bahan untuk memproduksi peralatan,
                       terkhusus pada peralatan rumah tangga. CFC terdapat pada kulkas dan AC. 
      section
            h3 4. Polusi Kendaraan berbahan bakar bensin
                h3

                    ul
                      li
                      li
                        Gas-gas memiliki sifat yang memerangkap panas, sehingga panas yang terpantul dari permukaan bumi tidak dapat diteruskan ke cahaya akibat dari gas tersebut, gas-gas tersebut adalah gas rumah kaca. Gas yang paling berperan adalah karbon dioksida (CO2). penyebab meningkatnya karbon dioksida adalah pembakaran bahan bakar batu bara, pembakaran minyak bumi, pembakaran gas alam. 

                  ul
                    li
                    li Kendaraan memberikan penyebab terbesar dalam terjadi pemanasan global. Polusi yang dihasilkan kendaraan berbahan bakar 
                       bensin seperti motor, mobil dan kendaraan lainnya dimana dari hasil pembuangannya menghasilkan gas karbon dioksida yang berlebihan.


      section
            h3 5. Pengerusakan Hutan
                h3
                  ul
                    li
                    li Hutan berfungsi dalam menyerap karbon dioksida dan mengeluarkan oksigen, jika hutan rusak akibat dari penebangan dan pembakaran, 
                       maka yang terjadi adalah jumlah karbon dioksida yang diserap oleh hutan sedikit, dan semakin banyak karbon yang berkumpul di atmosfer yang menyebabkan 
                       terjadinya pemanasan global. 

      section
            h3 6. Pemboroson Energi Listrik 
                h3
                  ul
                    li
                    li Energi listrik sebagian besar kita gunakan adalah hasil pembakaran dari pembakaran minyak bumi dan batu bara, dimana hasil 
                       pembakaran tersebut menghasilkan karbon dioksida 
      section
            h3 7.Populasi Kendaraan yang Terus Meningkat
                h3
                  ul
                    li
                    li Meningkatnya jumlah kendaraan maka karbon dioksida pun yang dihasilkan dari kendaraan tersebut akan bertambah 
                       banyak dan tentu saja menimbulkan pemanasan global. 

      section 
            h3 8. Pembakaran Sampah Secara Berlebihan
                h3
                  ul
                    li
                    li Pembakaran sampah berlebihan yang dilakukan secara massal akan menyebabkan terjadinya pemanasan global karena dari hasil 
                       pembakaran sampah tersebut adalah gas metana, yang dapat memerangkap panas.

      section
            h3 Dampak Pemanasan Global (Global Warming)
                h3
                  ul
                    li
                    li ~ Gunung-gunung es akan mencair 
                    li ~ Curah hujan akan meningkat dan badai akan sering terjadi
                    li ~ Air tanah cepat menguap yang akan menyebabkan kekeringan
                    li ~ Angin akan bertiup lebih kencang dengan pola yang berbeda-beda yang dapat membentuk angin puting beliung
                    li ~ Cuaca menjadi sulit diprediksi dan lebih ekstrem, baik itu hujan ekstrem atau kekeringan ekstrem
                    li ~ Kenaikan permukaan laut yang sangat banyak akan menyebabkan Tsunami, banjir dan pulau-pulau akan tenggelam. 
                    li ~ Menyebabkan kekeringan di wilayah pertanian sehingga tanaman akan rusak 
                    li ~ Dapat mengakibatkan gagal panen akibat dari cuaca yang ekstem dengan terjadi banjir yang mengakibatkan tanaman pertanian akan terendam
                    li ~ Meningkatnya hama pangan akibat dari perubahan iklim 
                    li ~ Populasi hewan dan tumbuhan akan menurun 
                    li ~ Meluasnya berbagai penyakit yang dapat menyerang manusia seperti DBD, malaria. 


        section
              h2 Upaya Menanggulangi Pemanasan Global 
              h2 (Global Warming)
                  h3
        
        section
               h3 1. Mengubah Perilaku Pribadi
                  h3
                    ul
                      li
                      li a) Hemat Listrik  
                            Setelah dijelaskan sebelumnya bahwa gas rumah kaca itu didominasi dari karbon dioksida (CO2). Sebagian besar dari CO2 dihasilkan dari pembangkit listrik yang berbahan bakar fosil. Dengan demikian, jika kita berhemat listrik maka secara tidak langsung kita mengurangi kadar CO2 di Atmosfer.

                      li b) Menanam Pohon  
                            CO2 digunakan tanaman untuk berfotosintesis, maka penanaman pohon dalam jumlah banyak akan menjadi solusi untuk mengurangi jumlah CO2 di atmosfer. Di Sulawesi Utara, dibuat peraturan daerah yang mewajibkan menanam pohon bagi pasangan yang akan menikah.

                      li c) Mengurangi Penggunaan Mobil  
                            Mobil sebagai penyumbang sumber CO2 terbesar di perkotaan, juga perlu diantisipasi dengan mengubah perilaku orang. Penggunaan mobil pribadi menjadi penyumbang CO2 terbesar, bila tidak ada pengaturan penggunaan mobil pribadi dengan baik. Penggunaan transportasi umum yang mengangkut sekaligus banyak orang dapat mengurangi emisi karbon dioksida di udara. 

          section
                  h3 2. Langkah Mencegah Pemanasan Global Secara Kolektif
                    h3
                      ul
                        li
                        li a) Mulai beralih menggunakan Energi Alternatif 

                        li b) Melestarikan Hutan 

                        li c) Menghapus atau mengurangi Penggunaan CFC (Chlorofluorocarbon)

                        li d) Memperbaiki Kualitas Kendaraan dengan Uji Emisi 
                              
                        li e) Membuang Sampah Pada Tempatnya


          section
                  h3 3. Langkah Mengurangi Karbon Dioksida
                    h3
                      ul
                        li
                        li a) Menanam dan memelihara tumbuhan dalam jumlah yang banyak

                        li b) Mengganti penggunaan bahan bakar fosil dengan bahan bakar alternatif. Misalnya air, angin, panas Bumi dan sinar matahari

          section
                  h3 4. Menggunakan Metode Transportasi yang Ramah Lingkungan
                      ul
                        li
                        li a) Gunakan transportasi umum.

                        li b) Bersepeda.

                        li c) Gunakan kendaraan Anda sebagai alat untuk melawan pemanasan global.

          section
                  h3 Pengaruh Global Warming Bagi Kesehatan Manusia
                  h3
                      ul
                        li
                        li a. Penyakit infeksi
                        li Perubahan iklim berdampak pada munculnya beberapa jenis penyakit infeksi baru seperti ebola, dan flu burung.

                        li b. Penyakit saluran pernapasan
                        li Suhu udara yang semakin hangat dapat mengakibatkan kebakaran hutan karena panasnya cuaca,meningkatkan ancaman penyakit infeksi saluran pernapasan 

                        li c. Penyebaran penyakit DBD dan malaria
                        li Pemanasan global berdampak pada semakin singkatnya siklus perkawinan dan pertumbuhan nyamuk dari telur menjadi larva dan nyamuk dewasa. Akibatnya, jumlah populasi nyamuk berkembang sangat cepat.

                        li d. Penyakit akibat penipisan lapisan Ozone
                        li Intensitas sinar UV yang mencapai permukaan bumi menyebabkan gangguan terhadap kesehatan, seperti kanker kulit, katarak, penurunan daya tahan tubuh, pertumbuhan mutasi genetik, dan memperburuk penyakit-penyakit umum asma dan alergi   
                        
                        li e.Penyakit yang berhubungan dengan panas
                        li Meningkatnya penyakit yang berkaitan dengan panas (heat stroke), terutama pada lansia dan anak-anak.
          section
                  h2 Pertanyaan?
                  h3
                  ul
                        li
                        li Mari Menjaga & Melestarikan Alam 
                        li TERIMAKASIH..


    script(src='build/build.js')