doctype html
HEAD
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title
    
    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='images/style.css')
    script(language='JavaScript')

    style(type='text/css').
     
  body
    article
      section
        h1 Global Warming
           
      section
        h2 Apa itu Global Warming?
      section
        h2 Dampak Global warming Bagi Kehidupan Manusia
      
      section
         h2 Penyebab Global warming
       
        section
            h2 Efek Rumah Kaca
                h3
                    p Efek rumah kaca adalah proses atmosfer menghangatkan planet. efek rumah kaca terjadi akibat panas yang dipantulkan ke permukaan bumi terperangkap oleh gas-gas di atmosfer, sehingga tidak dapat diteruskan ke luar angkasa, melainkan dipantulkan kembali ke permukaan Bumi.
        section
            h2 Meningkatnya Gas Rumah Kaca
                h3
                    p Gas-gas memiliki sifat yang memerangkap panas, sehingga panas yang terpantul dari permukaan bumi tidak dapat diteruskan ke cahaya akibat dari gas tersebut, gas-gas tersebut adalah gas rumah kaca. Gas yang paling berperan adalah karbon dioksida (CO2). 
      section
            h2 Penggunaan CFC yang Tidak Terkontrol 
                h3
                  p CFC atau Cloro Flour Carbon adalah bahan kimia yang digabungkan menjadi sebuah bahan untuk memproduksi peralatan,
                    terkhusus pada peralatan rumah tangga. CFC terdapat pada kulkas dan AC. 
      section
            h2 Polusi Kendaraan berbahan bakar bensin
                h3
                  p Kendaraan memberikan penyebab terbesar dalam terjadi pemanasan global. Polusi yang dihasilkan kendaraan berbahan bakar 
                    bensin seperti motor, mobil dan kendaraan lainnya dimana dari hasil pembuangannya menghasilkan gas karbon dioksida yang berlebihan.

      section
            h2 Pengerusakan Hutan
                h3
                  p Hutan berfungsi dalam menyerap karbon dioksida dan mengeluarkan oksigen, jika hutan rusak akibat dari penebangan dan pembakaran, 
                    maka yang terjadi adalah jumlah karbon dioksida yang diserap oleh hutan sedikit, dan semakin banyak karbon yang berkumpul di atmosfer yang menyebabkan 
                    terjadinya pemanasan global. 

      section
            h2 Pemboroson Energi Listrik 
                h3
                  p Energi listrik sebagian besar kita gunakan adalah hasil pembakaran dari pembakaran minyak bumi dan batu bara, dimana hasil 
                    pembakaran tersebut menghasilkan karbon dioksida 
      section
            h2 Populasi Kendaraan yang Terus Meningkat
                h3
                  p Meningkatnya jumlah kendaraan maka karbon dioksida pun yang dihasilkan dari kendaraan tersebut akan bertambah 
                    banyak dan tentu saja menimbulkan pemanasan global. 

      section 
            h2 Pembakaran Sampah Secara Berlebihan
                h3
                  p Pembakaran sampah berlebihan yang dilakukan secara massal akan menyebabkan terjadinya pemanasan global karena dari hasil 
                    pembakaran sampah tersebut adalah gas metana, yang dapat memerangkap panas.

      section
            h3 Dampak Pemanasan Global (Global Warming)

                h4 =====================================
                  ul
                    li Gunung-gunung es akan mencair 
                    li Curah hujan akan meningkat dan badai akan sering terjadi
                    li Air tanah cepat menguap yang akan menyebabkan kekeringan
                    li Angin akan bertiup lebih kencang dengan pola yang berbeda-beda yang dapat membentuk angin puting beliung
                    li Cuaca menjadi sulit diprediksi dan lebih ekstrem, baik itu hujan ekstrem atau kekeringan ekstrem
                    li Kenaikan permukaan laut yang sangat banyak akan menyebabkan Tsunami, banjir dan pulau-pulau akan tenggelam. 
                    li Menyebabkan kekeringan di wilayah pertanian sehingga tanaman akan rusak 
                    li Dapat mengakibatkan gagal panen akibat dari cuaca yang ekstem dengan terjadi banjir yang mengakibatkan tanaman pertanian akan terendam
                    li Meningkatnya hama pangan akibat dari perubahan iklim 
                    li Populasi hewan dan tumbuhan akan menurun 
                    li Meluasnya berbagai penyakit yang dapat menyerang manusia seperti DBD, malaria. 

    script(src='build/build.js')