doctype html
HEAD
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title
    
    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='images/style.css')
    script(language='JavaScript')

    style(type='text/css').
     
  body
    article
      section
        h2 Global Warming
          h3 Apa itu Global Warming?
      section
        h2 Dampak Global warming Bagi Kehidupan Manusia
      section
        h2 Bagaimana  Menangani Global Warming
        section
            h2 Global Warming
        section
            h2 Apa Itu Global Warming
                h3
                    p
                        Proses, penyebab, dampak/akibat dan cara mengatasi merupakan hal yang paling penting dalam kajian seputar pemanasan global.
        section
            h2 Penyebab Global warming
        section
            h2 Efek Rumah Kaca
                h3
                    p
                        Efek rumah kaca adalah proses atmosfer menghangatkan planet. efek rumah kaca terjadi akibat panas yang dipantulkan ke permukaan     bumi terperangkap oleh gas-gas di atmosfer, sehingga tidak dapat diteruskan ke luar angkasa, melainkan dipantulkan kembali ke permukaan Bumi. Efek rumah kaca memiliki manfaat bagi makhluk hidup di Bumi, namun  jika berlebihan berbahaya kehidupan di Bumi karena dapat mempengaruhi dan mengganggu iklim. 
        section
            h2 Meningkatnya Gas Rumah Kaca
                h3
                    p
                        Gas-gas memiliki sifat yang memerangkap panas, sehingga panas yang terpantul dari permukaan bumi tidak dapat diteruskan ke cahaya akibat dari gas tersebut, gas-gas tersebut adalah gas rumah kaca. Gas yang paling berperan adalah karbon dioksida (CO2). penyebab meningkatnya karbon dioksida adalah pembakaran bahan bakar batu bara, pembakaran minyak bumi, pembakaran gas alam.
      section
      section

      section
      section
    script(src='build/build.js')